<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<json-logger:config name="JSON_Logger_Config" doc:name="JSON Logger Config" doc:id="6fac410e-44b5-4efc-81ba-b3c734fb510e" environment="${env}" />
	<configuration-properties doc:name="Configuration properties" doc:id="a2202d1d-d4c5-411c-b11f-506df5e0ef75" file="resource.properties" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d6f143cb-a8da-48dd-a75e-5bee487fbdc2" >
		<db:generic-connection url="${secure::dbURL}" driverClassName="${driverclassname}" user="${secure::dbName}" password="${secure::dbPwd}" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="d5625593-4f1c-463f-b1b8-78d67de2d380" file="${env}.properties" />
	<http:listener-config name="datebase_sapi-httpListenerConfig">
        <http:listener-connection host="${https.host}" port="${https.port}" protocol="HTTPS" tlsContext="TLS_Context"/>
    </http:listener-config>
	<tls:context name="TLS_Context" doc:name="TLS Context" doc:id="6d6449d0-fe76-4b13-afae-fe3d0dd96280" >
		<tls:key-store type="jks" path="server-keystore.jks" keyPassword="mulesoft123" password="mulesoft123" />
	</tls:context>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="56520110-a77c-4648-9276-d1bb06b7b540" file="${env}.properties" key="tutorialspedia" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
</mule>
